<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <html lang="pt-br">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Enquete da html</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <p> teste  do git </p>
        <p> teste  do git ignore </p>
            {% if latest_question_list %}
            <ul>
                {% for question in latest_question_list%}
                    <li><a href="{% url 'enquete:vote' question.id %}">{{question.question_text}}</a></li>
                {% endfor %}
            </ul>
            {% else %}
                <p> Sem enquetes liberadas</p>
            {% endif %}
        <script src="" async defer></script>
    </body>
</html>